@charset "UTF-8";
body {
  /* background:#F2F3F4; */
  background: #eee; }

/* ---------------Секция header------------------- */
header {
  margin-top: 1rem; }

.btn-hover:hover {
  cursor: pointer; }

/* ---------------Секция NAV------------------- */
.nav-link {
  color: #fff; }
  .nav-link:hover {
    color: #000; }

/* ---------------Секция section bg-img------------------- */
.bg-img {
  background: url("../img/bg-header.jpg");
  height: 638px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  .bg-img .form-header {
    width: 700px;
    margin: 0 auto;
    margin-top: 10rem; }
  .bg-img .utp {
    color: #fff;
    width: 800px;
    margin: 0 auto;
    text-align: center;
    padding-top: 10rem; }
  .bg-img .backfone {
    color: #fff;
    font-size: 1.3rem;
    margin-top: 2px;
    padding-top: 8px; }
    .bg-img .backfone span {
      background: #bc1339;
      padding: 3px 5px 5px 5px;
      border-radius: 5px; }

/* ---------------Секция section title------------------- */
.h1 {
  font-size: 2rem; }

/* ---------------Секция <section id="category"------------------- */
#category {
  position: relative; }
  #category img:hover {
    transform: scale(1.15, 1.15); }
  #category p {
    position: absolute;
    width: 400px;
    margin: 0 auto;
    top: 7rem;
    font-family: inherit;
    font-size: 1.1rem;
    color: #fff;
    text-align: center;
    font-weight: 700; }
